main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-top: 15%;
	padding: 60px 30px;
	background-color: rgb(255, 245, 255);
	border-radius: 7.5px;
}

.error-container > h2 {
	color: red;
}

.error-container > p {
	color: rgb(140, 0, 0);
    margin-top: 5px;
}