@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	font-family: "Merriweather Sans", Arial, system-ui;
	padding: 0;
	margin: 0;
}

a,
a:link {
	color: rgb(28, 28, 28);
}

a:visited {
	color: rgb(26, 21, 21);
}

.header-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px 15px 20px;
	padding: 15px 5px;
	background-color: rgb(242, 255, 205);
	border-radius: 40px;
}

.header-container h1 {
	font-size: calc(1.25rem + 6px);
}

.header-container h2 {
	font-size: calc(1.05rem + 6px);
}

.header-shop {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.5px;
}

#cart-icon {
	margin-top: 5px;
	padding: 5px;
}
